@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom animation */
@keyframes blob {
    0% {
        transform: translate(0,0) scale(1);
    }

    33% {
        transform: translate(25px,-20px) scale(1.15);
    }

    66% {
        transform: translate(-20px,15px) scale(0.9);
    }

    100% {
        transform: translate(0,0) scale(1);
    }
}

.animate-blob {
    animation: blob 7s infinite ease-in-out;
}

.delay-2000 {
    animation-delay: 2s;
}

.delay-4000 {
    animation-delay: 4s;
}
